img {
	width: 10px
	 border-radius:100%;
	}


 div {
 background-image: url(https://resize-europe1.lanmedia.fr/r/622,311,forcex,center-middle/img/var/europe1/storage/images/europe1/sciences/trois-sous-especes-de-pantheres-des-neiges-decouvertes-3329684/41139965-1-fre-FR/Trois-sous-especes-de-pantheres-des-neiges-decouvertes.jpg);
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin: 10px 10px
  border: 100px brown;
  width: 100px;
  box-shadow:10x 10px 30px grey;
  border-collapse: 10px;

}


}
color:#006666;
font-size:100px;
}
h1 {
	color: La panthère des neiges est chassée ILLEGALEMENT pour sa fourrure, très prisée en Asie centrale, en Europe de l'Est et en Russie sous forme de manteau et autres vêtements ( alors comme ça, après les toques on a le droit aux manteau ? Hééééé ben !... C'est de mieux en mieux !!! ). Les os et autres parties de son corps sont également très demandés dans la médecine traditionnelle chinoise. Enfin, les félins sont souvent caturés à l'état sauvage pour aller rejoindre des collections animalières privées en Asie centrale. En 2003, il en restaient moins de 7 500 ( le chiffre a rebaissé depuis, je vous laisse imaginer le topaud ). ;
	font-size:50px;

	}
body {
	background-size: cover;
}
